.topbar {
    background-color: #007bff;
    color: white;
    font-size: 14px;
}
.nav-link i {
    font-size: 14px;
    margin-left: 4px;
}

/* Sticky header */
.header-sticky {
    position: sticky;
    top: 0;
    z-index: 1030;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.service-box {
background: #f3f9fc;
border-radius: 12px;
padding: 25px;
transition: 0.3s;
cursor: pointer;
height: 170px;
overflow: hidden;
}
.service-box:hover {
background: #e9f5fb;
transform: translateY(-3px);
}
.service-box i {
font-size: 38px;
color: #0d6efd;
margin-bottom: 10px;
}
.service-title {
font-size: 20px;
font-weight: 600;
color: #062b4f;
}
.overflow-auto::-webkit-scrollbar {
    display: none;
}

.slide-img {
    height: 400px;        /* tinggi area */
    width: 100%;           /* full width */
    object-fit: cover;     /* crop otomatis, rapi */
    object-position: center; /* fokus tengah */
}

@media (max-width: 768px) {
    .contact {
        display: none;
    }
    .slide-img {
        height: 300px;  /* lebih pendek di HP */
    }
}


/* BLOG */
.blog-scroll-wrapper {
    gap: 24px;
    scroll-snap-type: x mandatory;
}

.blog-card {
    min-width: 300px;
    min-height: 350px;
    scroll-snap-align: center;
}




/* YOUTUBE */
.video-scroll-wrapper {
    gap: 24px;
    scroll-snap-type: x mandatory;
}

.video-card {
    min-width: 340px;
    scroll-snap-align: center;
}


/* Dot List Blue */
.dot-point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #007bff;
    display: inline-block;
}

/* Right Image Section */
.brush-bg {
    z-index: 1;
    max-width: 520px;
    opacity: 0.9;
}

.main-img {
    z-index: 2;
    max-height: 460px;
}

.feature-section {
    position: relative;
}



 .recent-post img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 8px;
        }
        .tag-item {
            background: #f1f5f9;
            padding: 5px 12px;
            border-radius: 6px;
            font-size: 14px;
            margin-right: 5px;
            margin-bottom: 8px;
            display: inline-block;
        }
        blockquote {
            background: #f8fafc;
            padding: 20px;
            border-radius: 10px;
            border-left: 5px solid #1d4ed8;
        }



.hero-section {
    height: 20vh; /* Full screen */
    background-color: #1d4ed8;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Lapisan gelap (agar teks lebih jelas) */

.hero-section .container {
    position: relative;
    z-index: 2; /* supaya muncul di atas overlay */
}


